.cart-icon
{
    height:45px;
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor:pointer;
    .shopping-icon
    {
        height: 40px;
        width: 40px;

    }
    .item-count
    {
        
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        bottom:8px;
        color: black;
    }
    
}