.Sign-up
{
    display:flex;
    flex-direction:column;
    width:380;
    padding-top:30px;
    
    .title
    {
        
        margin:10px,0;
    }
    h4
    {
        color:brown;
    }
    form
    {
    
    }
}