.Sign-up
{
    display:flex;
    flex-direction:column;
    width:380;
    padding-top:20px;
    
    .title
    {
        
        margin:10px,0;
    }
    h4
    {
        color:brown;
    }
    .button
    {
        padding-top: 22px;   
    }
}