.Collection
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .title
    {
        color: black;
        font-size: 28px;
    }
    .preview
    {
        display: flex;
        flex-wrap: wrap;
        margin:1%;
    }
}